<!doctype html>
{% load static %}
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'assets/js/config.js' %}"></script>
    <script src="{% static 'vendors/overlayscrollbars/OverlayScrollbars.min.js' %}"></script>

    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link rel="preconnect" href="//fonts.gstatic.com">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap"
          rel="stylesheet">
    <link href="{% static 'vendors/overlayscrollbars/OverlayScrollbars.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/theme-rtl.min.css' %}" rel="stylesheet" id="style-rtl">
    <link href="{% static 'assets/css/theme.min.css' %}" rel="stylesheet" id="style-default">
    <link href="{% static 'assets/css/user-rtl.min.css' %}" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'assets/css/user.min.css' %}" rel="stylesheet" id="user-style-default">
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet" />
    <link href="{% static 'vendors/dropzone/dropzone.min.css' %}" rel="stylesheet" />

    <!-- ===============================================-->
    <!--   ajax-datatable Stylesheets-->
    <!-- <link href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" /> -->
    
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"/>
    <link href="//cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"/>
    <link href="//cdn.datatables.net/buttons/2.3.6/css/buttons.bootstrap5.min.css"/>
    <link href="//cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.min.css"/>
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet"/>
    <!-- ===============================================-->


  <title>Uplode Image</title>
</head>

<body>

  {% block body %}





  {% endblock body %}






<script src="{% static 'vendors/popper/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
<script src="{% static 'vendors/is/is.min.js' %}"></script>
<script src="{% static 'vendors/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendors/fontawesome/all.min.js' %}"></script>
<script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
<script src="//polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="{% static 'vendors/list.js/list.min.js' %}"></script>
<script src="{% static 'assets/js/theme.js' %}"></script>
<script src="{% static 'vendors/choices/choices.min.js' %}"></script>
<script src="{% static 'vendors/dropzone/dropzone.min.js' %}"></script>

<!-- ===============================================-->
<!--   ajax-datatable JavaScripts-->
<script type="text/javascript" src="{% static 'assets/js/datatables.js' %}"></script> 
<script type="text/javascript" src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="//code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.3.6/js/buttons.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
<script src="//cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.min.js"></script>
<!-- ===============================================-->


<!-- ===============================================-->
<!--   ajax-datatable JavaScripts-->
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<!-- ===============================================-->

</body>

</html>